* {
    box-sizing: border-box;
    font-family: "DM Sans", "Helvetica", "Arial", sans-serif;
}

body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

#everything {
    background-color: #fff;
    margin: 0 auto;
    max-width: 46rem;
    padding: 2rem;
}

label, input {
    font-size: 1.25rem;
}

input {
    display: block;
}

input[type="text"] {
    margin: 1rem 0 0.25rem 0;
    padding: 0.5rem;
    width: 12rem;
}

input[type="submit"] {
    background-color: #e74300;
    border: 0;
    cursor: pointer;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}

.helptext {
    color: hsl(0, 0%, 60%);
    font-size: 1rem;
}

.hidden {
    display: none;
}

.error-message {
    background-color: lightsalmon;
    padding: 0.5rem;
}